.popup__name {
    line-height: 29px;
    font-size: 24px;
    font-weight: 900;
    margin: 0 0 54px 0;
}

@media screen and (max-width: 320px) {
    .popup__name {
        line-height: 22px;
        font-size: 18px;
    }
}