.post__delete-button {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/icon__delete-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

.post__delete-button:hover {
    opacity: 0.5;
}